a {
  position: relative;
  text-decoration: none;
  color: #6c757d;
  top: -8px;
  font-size: 18px;
}
a:hover {
  color: #000;
}

body {
  font-family: sans-serif;
}
button {
  text-align: left;
  font-size: 25px;
  color: #6c757d;
  background-color: #fff;
  border-width: 1px;
}

footer {
  text-align: center;
  margin-top: 10px;
}
form {
  display: inline;
  font-size: 25px;
  box-sizing: content-box;
  border-width: 1px;
  width: 260px;
}

h1 {
  margin-left: 35px;
  margin-top: 20px;
  font-size: 40px;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-transform: capitalize;
}

#current-location-button {
  width: 220px;
}
#day-time-display,
#current-temperature {
  font-size: 30px;
  margin-left: 0px;
}
.active {
  color: #000;
  cursor: default;
}

.weather-app {
  border: 5px solid #6c757d;
  padding: 10px;
  max-width: 650px;
  border-radius: 10px;
  margin-top: 20px;
}

.week-forecast {
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}
.week-forecast-temperature {
  font-size: 18px;
}

.max-week-forecast-temperature {
  color: #000;
}
.min-week-forecast-temperature {
  color: #6c757d;
}

.search-button {
  width: 120px;
}
